{% extends 'base.html.twig' %}
{% block body %}
<h1>Your lucky number is {{ number }}</h1>
<p>My var test is : {{ test }}</p>

{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
    {% endfor %} 
{% endblock %}